<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/b097035380.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/estilos.css" >

    <title>Tres y un Ángel</title>
  </head>
  <body class="body-portada">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg fixed-top fondo-nav">
        <div class="container">
            <div class="row">
                <a href="portada.html"><img src="../img/icono.png" class="img-icono" alt="descripcion" width="35" height="40"></a>
                <a href="portada.html" class="navbar-brand mx-3 pt-2 font-lostres titulo-portada">los tres y un ángel</a>
            </div>
            <button class="navbar-toggler border border-light shadow-sm" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Menu">
                <span class="material-icons text-white"><em class="fas fa-bars text-white"></em></span>
              </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbar">
                <div class="row">
                    <ul class="navbar-nav pr-3">
                        <li class="nav-item">
                            <a href="portada.html" class="nav-link mx-2 font-nav">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a href="ventas.html" class="nav-link mx-2 font-nav">Ventas</a>
                        </li>
                        <li class="nav-item" >
                            <a href="productos.html" class="nav-link mx-2 font-nav">Productos</a>
                        </li>
                        <li class="nav-item" >
                            <a href="proveedor.html" class="nav-link mx-2 font-nav">Proveedor</a>
                        </li>
                        <li class="nav-item" >
                            <a href="bodega.html" class="nav-link mx-2 font-nav">Bodega</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav><br>
    <br>
    <br>

    <!-- CONTENIDO -->
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb py-1 my-1">
              <li class="breadcrumb-item active" aria-current="page">Panel de Control</li>
            </ol>
          </nav>
        <div class="row">
            <div class="col-lg-4">
                <a href="usuario.html" style="text-decoration: none;">
                    <div class="cards card-usuario shadow mb-3">
                        <div class="row">
                            <div class="col-6 ">
                                <div class="d-flex justify-content-end my-2 mx-2 pt-2 pr-2">
                                    <img src="../img/user-1.png" class="img-usuario" alt="">
                                </div>
                            </div>
                            <div class="col-6 my-2 pt-2">
                                <h4 class="text-light font-weight-bold pt-4 pl-1">Usuario</h4>
                                <p class="text-light pl-1">Cargo</p>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center f-ver f-usuario text-light">
                            <div>Ver información <i class="far fa-arrow-alt-circle-up fa-md"></i></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="ventas.html" style="text-decoration: none;">
                    <div class="cards card-money shadow-lg mb-3">
                        <div class="row">
                            <div class="col-6 my-2 pt-2">
                                <h4 class="font-black font-weight-bold pt-4 pl-3">Ventas</h4>
                                <p class="font-black pl-3 font-weight-bold"><i class="fas fa-dollar-sign fa-xs mr-1 mb-1"></i>1.250.000</p>
                            </div>
                            <div class="col-6">
                                <div class="d-flex justify-content-end pt-4 pr-2">
                                    <i class="fas fa-hand-holding-usd fa-5x" style="color: #00a300;"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center f-ver f-money font-black">
                            <div>Ver ventas <i class="far fa-arrow-alt-circle-up fa-md"></i></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="productos.html" style="text-decoration: none;">
                    <div class="cards card-productos shadow mb-3">
                        <div class="row">
                            <div class="col-6 my-2 pt-2">
                                <h4 class="font-black font-weight-bold pt-4 pl-3">Productos</h4>
                                <p class="font-black pl-3">Información</p>
                            </div>
                            <div class="col-6">
                                <div class="d-flex justify-content-end pt-4 pr-2">
                                    <i class="fas fa-hamburger fa-5x" style="color: #00a196;"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center f-ver f-productos">
                            <div>Ver productos <i class="far fa-arrow-alt-circle-up fa-md"></i></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-4">
                <a href="proveedor.html" style="text-decoration: none;">
                    <div class="cards card-proveedor shadow mb-3">
                        <div class="row">
                            <div class="col-6 my-2 pt-2">
                                <h4 class="font-black font-weight-bold pt-4 pl-3">Proveedor</h4>
                                <p class="font-black pl-3">Contacto</p>
                            </div>
                            <div class="col-6">
                                <div class="d-flex justify-content-end pt-4 pr-2">
                                    <i class="fas fa-truck fa-5x" style="color: #c7c300;"></i></i>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center f-ver f-proveedor">
                            <div>Ver info. proveedores <i class="far fa-arrow-alt-circle-up fa-md"></i></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="bodega.html" style="text-decoration: none;">
                    <div class="cards card-bodega shadow mb-3">
                        <div class="row">
                            <div class="col-6 my-2 pt-2">
                                <h4 class="text-light font-weight-bold pt-4 pl-3">Bodega</h4>
                                <p class="text-light pl-3">Insumos</p>
                            </div>
                            <div class="col-6">
                                <div class="d-flex justify-content-end pt-4 pr-2">
                                    <i class="fas fa-boxes fa-5x" style="color: #c20000"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center f-ver f-bodega">
                            <div>Ver inventario <i class="far fa-arrow-alt-circle-up fa-md"></i></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <br>
    <!-- CONTENIDOS 2 -->
    <div class="container">
        <div class="row d-flex justify-content-around">
            <div class="col-lg-5 rounded shadow info">
                <div class="row d-flex justify-content-center">
                    <h4 class="pl-3 my-2 pt-3">Productos más vendidos</h4>
                </div>
                <hr>
            </div>
            <div class="col-lg-5 rounded shadow info">
                <div class="row d-flex justify-content-center">
                    <h4 class="pl-3 my-2 pt-3">Productos a vencer</h4>
                </div>
                <hr>
                <div class="row mb-2">
                    <div class="col-lg-2">
                        <div class="d-flex justify-content-center"><small>Icono</small></div>
                    </div>
                    <div class="col-lg-4">
                        <div class="d-flex justify-content-center"><small>Nombre</small></div>
                    </div>
                    <div class="col-lg-4">
                        <div class="d-flex justify-content-center"><small>Fecha</small></div>
                    </div>
                    <div class="col-2">
                        <div class="d-flex justify-content-center"><small>Cantidad</small></div>
                    </div>
                </div>
                <div class="row my-1 vence">
                    <div class="col-lg-2">
                        <div class="vence-producto">
                            <span><i class="fas fa-hotdog"></i></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="vence-producto">Vienesas</div>
                    </div>
                    <div class="col-lg-4">
                        <div class="vence-producto">24/07/2020</div>
                    </div>
                    <div class="col-2">
                        <div class="vence-producto">2</div>
                    </div>
                </div>
                <div class="row my-1 vence">
                    <div class="col-lg-2">
                        <div class="vence-producto">
                            <span><i class="fas fa-hamburger"></i></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="vence-producto">Hamburguesas</div>
                    </div>
                    <div class="col-lg-4">
                        <div class="vence-producto">29/07/2020</div>
                    </div>
                    <div class="col-2">
                        <div class="vence-producto">3</div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
    <br>
    <br>
    <br>
    <!-- FOOTER -->
    <footer class="fondo-nav fixed-bottom">
        <div class="container">
            <div class="row d-flex justify-content-center pt-1 text-light">
                Copyright <i class="far fa-copyright text-light pt-1 mx-2"></i>
                UTEM | Ing. Civil Computación menc. Informática
            </div>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../js/jquery-3.5.1.slim.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>