<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/b097035380.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/estilos.css" >
    <link rel="stylesheet" href="../css/secciones.css">

    <title>Tres y un Ángel</title>
  </head>
  <body class="body-portada">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg fixed-top fondo-nav">
        <div class="container">
            <div class="row">
                <a href="portada.html"><img src="../img/icono.png" class="img-icono" alt="descripcion" width="35" height="40"></a>
                <a href="portada.html" class="navbar-brand mx-3 pt-2 font-lostres titulo-portada">los tres y un ángel</a>
            </div>
            <button class="navbar-toggler border border-light shadow-sm" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Menu">
                <span class="material-icons text-white"><em class="fas fa-bars text-white"></em></span>
              </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbar">
                <div class="row">
                    <ul class="navbar-nav pr-3">
                        <li class="nav-item">
                            <a href="portada.html" class="nav-link mx-2 font-nav">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a href="ventas.html" class="nav-link mx-2 font-nav">Ventas</a>
                        </li>
                        <li class="nav-item" >
                            <a href="productos.html" class="nav-link mx-2 font-nav">Productos</a>
                        </li>
                        <li class="nav-item" >
                            <a href="proveedor.html" class="nav-link mx-2 font-nav">Proveedor</a>
                        </li>
                        <li class="nav-item" >
                            <a href="bodega.html" class="nav-link mx-2 font-nav">Bodega</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav><br>
    <br>
    <br>

    <!-- UBICACION DE PAGINA -->
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb py-1 my-1">
              <li class="breadcrumb-item"><a href="portada.html">Panel de Control</a></li>
              <li class="breadcrumb-item active" aria-current="page">Usuario</li>
            </ol>
          </nav>
    </div>

    <!-- CONTENIDO  -->
    <div class="container rounded shadow bg-user">
        <div class="row">
            <div class="col-lg-4">
                <div class="d-flex justify-content-center pt-2">
                    <img src="../img/user-1.png" class="img-usuarios mt-4" alt="">
                </div>
                <div class="d-flex justify-content-center pt-2">
                    <button class="btn btn-primary">Subir Imagen</button>
                </div>
            </div>
            <div class="col-lg-8 mb-2">
                <div class="row d-flex justify-content-center">
                    <h2 class="line-effects font-weight-bold py-0">Datos Personales</h2>
                </div>
                <hr class="my-1">
                <div class="row">
                    <div class="col">
                        <h4 class="font-weight-bold">Leonardo Peña Fuentes</h4>
                        <p class="my-1">Cargo</p>
                        <p>Id Cargo</p>
                        <hr class="my-1">
                    </div>
                </div>
                <table class="datosPersonales table table-sm">
                    <tr>
                       <td><p>Rut</p></td>
                       <td><p>19.844.422-7</p></td> 
                    </tr>
                    <tr>
                        <td><p>Dirección</p></td>
                        <td><p><input type="text" class="form-control form-control-sm" value="3 norte #1637c"></p></td>
                    </tr>
                    <tr>
                        <td><p>Teléfono</p></td>
                        <td><p><input type="text" class="form-control form-control-sm" value="9 99237917"></p></td>
                    </tr>
                    <tr>
                        <td><p>E-mail</p></td>
                        <td><p><input type="text" class="form-control form-control-sm" value="leonardo.penaf@utem.cl"></p></td>
                    </tr>
                    <tr>
                        <td><p>Sueldo</p></td>
                        <td><p>$ 150.000</p></td>
                    </tr>
                    <tr>
                        <td><p>Fecha de contrato</p></td>
                        <td><p>22 Mayo 2019</p></td>
                    </tr>
                </table>
                <hr>
                <div class="row d-flex justify-content-lg-end justify-content-sm-center mx-2 pr-5">
                    <button class="btn btn-primary">Guardar Cambios</button>
                </div>
            </div>
        </div>
    </div>

    <br>
    <!-- FOOTER -->
    <footer class="fondo-nav">
        <div class="container">
            <div class="row d-flex justify-content-center pt-1 text-light">
                Copyright <i class="far fa-copyright text-light pt-1 mx-2"></i>
                UTEM | Ing. Civil Computación menc. Informática
            </div>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../js/jquery-3.5.1.slim.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>